{% load staticfiles %}
<!DOCTYPE html>

<head>
	<title>Create Account</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'join/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'join/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'join/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'join/css/templatemo_style.css' %}" rel="stylesheet" type="text/css">

</head>

<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-12">Welcome {{ member.user_name }}</h1>

    <div class="container">
    <div class="form-group">
	<div class="col-xs-12">
        <a href="login.html" class="pull-right">Login out</a>
        <br>
				{% if game_status == "OPEN" %}
        <h2 class="margin-bottom-12">Game is open for enrollment!</h2>
        <h2 class="margin-bottom-12">等你来战</h2>
				{% else %}
        <h2 class="margin-bottom-12">Game is not open. Please wait.</h2>
				{% endif %}
	</div>
    </div>
      <form role="form" action="{% url 'join:join-game' %}">
      {% csrf_token %}
    <div class="form-group" id="button_grid">

    <div class="col-xs-2 col-md-offset-5" id="join">
        <button type="submit" class="btn btn-success">Join</button>
    </div>
    <div class="col-xs-2" id ="cancel">
        <button type="button" class="btn btn-warning">Cancel</button>
    </div>
    </div>
    </form>
    </div>
	<script type="text/javascript" src="{% static 'join/js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'join/js/bootstrap.min.js' %}"></script>
</body>

<script>
    $("#join").css("margin-left",$("#button_grid").width()/2 - $("#join").width() + "px")
    $("#Cancel").css("margin-left",$("#button_grid").width()/2 + $("#Cancel").width() + "px")
</script>


</html>
